# Ignore dataset folders
app/Fruits_Vegetables/

# Ignore large model file if needed
app/Image_Classifier.keras

# Ignore virtual environment or macOS system files
__pycache__/
*.pyc
.DS_Store

# Ignore Streamlit logs
.streamlit/

# VSCode settings
.vscode/

.DS_Store

echo "app/Fruits_Vegetables/" >> .gitignore
echo "app/Image_Classifier.keras" >> .gitignore

